.container {
  height: 100vh;

  padding: 2.8rem 1.6rem;
}

.navigationbar {
  display: flex;
  justify-content: space-between;
}

.navigationbar .menu {
  display: none;
}

.navigationbar .open-menu-button,
.navigationbar .close-menu-button {
  border: none;
  background: none;
}

.navigationbar .close-menu-button {
  visibility: hidden;
  position: fixed;
}

.container.menu-expanded .navigationbar .close-menu-button {
  visibility: visible;
  position: initial;

  z-index: 999;
}

.container.menu-expanded .navigationbar .open-menu-button {
  visibility: hidden;
  position: fixed;
}
.container.menu-expanded .navigationbar .menu,
.container.menu-expanded .navigationbar .menu .menu-list {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.container.menu-expanded .navigationbar .menu {
  background: hsla(240, 100%, 5%, 0.5);
  width: 100%;

  display: block;
}

.container.menu-expanded .navigationbar .menu .menu-list {
  list-style: none;

  background: var(--neutral-off-white);
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;

  padding-left: 2.4rem;
}
